.menu-parent{
    height: 40px;
    background-color: #f27a1a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px
}
.logo-text-link {
    color:white;
    font-weight: bold;
    text-decoration: none;
}
.menu{
    display:flex;
    align-items: center;
}
.menu-item{
    list-style: none;
    margin-right: 2rem;
}
.menu-link{
    text-decoration: none;
    font-size: 0.9rem;
    color: white;
}
.menu-item:hover{
    font-weight: bold;
    font-size: 1rem;
    filter: brightness(2);

}